<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Daily Tarot Card 404!</title>
</head>
<body>
  <p>Got a big bad 404!</p>
  <p>Consider what choices brought you here....</p>
<img id="404-image" src='maj16.jpg' >

</body>