<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="eng">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Random Tarot Card with Suggested Interpretation">
<meta name="keywords" content="Tarot, Magic, Magick, Divination, 'Personal Growth',
    NodeJS, JavaScript, Express, Heroku, Jasmine">
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Daily Tarot Card</title>
</head>
<body>
  <div class="text big">
    <p id="cardText">Your card is <%=status.card.name+status.text%>...</p>
  </div>
  <div>
    <img id="card" src=<%=status.card.image%> >
  </div>
  <div class="text medium">
      <% for(var i=0; i<status.card.keywords.length; i++) { %>
      <p> <%= status.card.keywords[i] %></p>
    <% } %>
  </div>
  <div  class="text">
    <form onsubmit="emailme(); return false">
      <span>
      <input type="text" name="email" placeholder="name@example.com" id="userEmail">
      <input type ="hidden" name="cardIndex" value="<%=status.cardIndex %>" id="cardIndex">
      <!-- <input type="submit" value="email me this!" onclick="emailme(); return false"> -->
    </span>
    </form>
  </div>
</body>
<script>
  var cardText = document.getElementById("cardText").innerText
  var image = document.getElementById("card")
  if (cardText.includes("inverted")) {
    image.setAttribute("style", "transform: rotate(180deg)")
}
function emailme(e){
  let email = document.getElementById("userEmail")
  let index = document.getElementById("cardIndex")
  let request = "email="+email.value+"&index="+index.value
  let xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/mailme", true)
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
  xhttp.send(request)
  email.value = ""
}
</script>