<!DOCTYPE html>
<html lang="eng">
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div>
    <p id="cardText">Your card is <%=status.card.name+status.directionText%>!</p>
    <img id="card" src=<%=status.card.image%> style="float:left" >
    <% for(var i=0; i<status.card.keywords.length; i++) { %>
      <p> <%= status.card.keywords[i] %></p>
    <% } %>
  </div>
<br>

<div style="clear:both">
  <br>
  <p>I use the Waite-Smith Tarot Deck: </p>
  <img id="deck" src="rider_waite.jpg">
</div>
</body>
<script>
  var cardText = document.getElementById("cardText").innerText
  var image = document.getElementById("card")
  if (cardText.includes("inverted")) {
    image.setAttribute("style", "float:left; transform: rotate(180deg)")
}
</script>