<!DOCTYPE html>
<html lang="eng">
<head>
</head>
<body>
<p>Your card is <%=status.card+status.direction%>!</p>
<br>
<br>
<br>
<p>I use the Waite-Smith Tarot Deck: </p>
<img src="rider_waite.jpg" style="width:250px; height:183px">
</body>
