<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Daily Tarot Card 404!</title>
</head>
<body>
  <p class="text">Got a big bad 404!</p>
  <p class="text">Consider what choices brought you here....</p>
<img id="card" src='maj16.jpg' >
  <a href ='/'><p class="text">Turn back...</p></a>
</body>